@charset"utf-8";

body{background:#eee;}


.wrapper{width:360px;margin:120px auto;height:;background:;}
.header{width:auto;height:60px;background:none!important;border:none !important;}
.section{width:auto;padding:8px;background:;height:;border:;}